
* {
  border: none;
  
}



body {
  background-color: black;
}



/* hide the input visually, but don't give it "display: none" as it will break keyboard controls */

/* @media (max-width: 768px) {
  .card {
    height: 300px;
    width: 170px;
  }

  .card img {
    height: 250px;
  }

  .home {
    margin-top: 70px;
  }
} */



