* {
  border: none;
}

body {
  background-color: black;
}

/* navbar ccs */

/* Navbar.css */

.navbar {
  background-color: #232F3E;
  color: white;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo img {
  max-width: 100px;
  scale: 1.8;
}

.navbar-links ul {
  list-style: none;
  padding: 2px 31px;
  margin: 0px 6px;
  display: flex;
}

.navbar-links ul li {
  margin-right: 20px;
}

.navbar-links ul li:last-child {
  margin-right: 0;
}

.navbar-links ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-search input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.navbar-search button {
  background-color: #F5C518;
  color: #232F3E;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-search button:hover {
  background-color: #FFD55E;
}


/* slide css */


.home {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  row-gap: 18px;
  margin-top: 12px;

}

.card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease;
  height: 342px;
  width: 200px;
}

.card:hover {
  transform: scale(1.1);
}


.card img {
  height: 300px;
  width: auto;

}

.movie-name {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: #ffffff;
  display: none;
}

.card:hover .movie-name {
  display: block;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.51);
}

.movie-name p {
  font-size: 10px;

}


/* hide the input visually, but don't give it "display: none" as it will break keyboard controls */

@media (max-width: 768px) {
  .card {
    height: 300px;
    width: 170px;
  }

  .card img {
    height: 250px;
  }

  .home {
    margin-top: 70px;
  }
}

/* details css */

.showcase {
  width: 80%;
  height: 500px;
  position: relative;
  color: white;
  text-align: center;
}

.movie-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.showcase img {
  height: 500px;
  object-fit: cover;
  object-position: 0 21%;
  width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 2cap;
  border-bottom-right-radius: 20px;
}

.showcase .movie-det {
  align-items: center;
  bottom: 293px;
  display: flex;
  position: relative;
  width: 100%;
}

.movie-det .det-left img {
  width: 340px;
  height: auto;
  border-radius: 10px;
  margin-left: 25px;
}

.showcase .det-right {
  text-align: left;
  margin-left: 17px;
}

.showcase .det-right .det-top>div {
  margin-bottom: 0.5rem;
  text-shadow: 0 0 5px #000;
}

.showcase .det-right .movie-critic .critic-array {
  border: 1px solid white;
  padding: 4px 10px;
  border-radius: 9px;
  margin: 2px 4px
}


.showcase .det-right .det-top .movie-title {
  font-size: 65px;
  font-weight: 700;
}

.showcase .movie-links {
  color: black;
}

.showcase .movie-heading {
  color: black;
}

.showcase .det-right {
  color: #ffffff;
}

.showcase .det-right .movie-rating i{
 padding: 3px 4px;
 margin: 2px 3px;
}
.showcase .det-right-bottom {
  color: white;
  margin-top: 5.2rem;
}


.showcase .det-right-bottom .synopsis {
  margin: 1rem 0;
  font-size: 20px;
}

.showcase .movie-links {
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 150px;
}

.showcase .movie-links .link-heading {
  color: white;
  font-size: 2rem;
}

.showcase .movie-links .movie-home-button1 {
  align-items: center;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 0.8rem 2rem;
  width: 170px;
  background-color: red;
}

.showcase .movie-links .movie-imdb-button2 {
  align-items: center;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 0.8rem 2rem;
  width: 150px;
  background-color: yellow;
}




.showcase .production-house {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.showcase .production-house .house-image {
  height: 60px;
  width: auto;
  filter: invert(1);
}

.showcase .production-house .house-name {
  color: white;
  flex-direction: column;
  display: flex;
}

.showcase .movie-heading {
  color: white;
  font-size: 2rem;
}

.posab {
  position: absolute;
}
.posrel {
  position: relative;
}